.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  color: white;
  
}

.App-title {
  font-size: 1.5em;
 
}

.App-intro {
  font-size: 50px;
  text-align: center;
  width: 60vw;
  display: flex;
  padding-left: 250px;
  
}

.leftside {
  height: 100%;
  width: 35vw;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
 padding-left: 20px;

}
.background {
  background:url('/pictures/background.png');
  background-size: cover;
  background-position: bottom;
  height:100%;
  width:100%;
}

.create,
.read,
.update,
.delete {
  display:flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 20px;

}

.create h1,
.read h1,
.update h1,
.delete h1 {
  font-size: 30px;
  font-style: bold;
  padding-bottom: 10px;
}

.readbox {
  height: 220px;
  width: 170px;
  display: flex;
  flex-direction: center;
  align-items: flex-start;
 
}

.readdisp {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
  color: lightskyblue;




}